<!DOCTYPE html>
<html lang="en">
    <head>
        <% include elements/header  %>
    </head>
    <body id="page-top">
        <% include elements/navbar  %>
        <div id="wrapper">
        <!-- Sidebar -->
        <% include elements/sidebar  %>
        <div class="container">
            <img src="./img/h1.jpg" width="1050" height="400" />
            <br />
            <br />
            <h2 class="h1"> <i> Sản phẩm mới nhất  </i> </h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/msi2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Laptop MSI Prestige 15 10SC 004VN Geforce GTX 1650 MaxQ Intel Core i7 10710U 16GB 512GB 15.6″ FHD IPS Backlight Keyboard</h5>
                            <p class="card-text">37.990.000đ</p>
                            <a href="chitietsp/msi2" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/hp2.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">HP 15-dw0008ca Touchscreen laptop(14"FHD/i5-8250U/8GB/1TB HDD/UHD 620/Win10/1.6kg)</h5>
                            <p class="card-text">21.790.000đ</p>
                            <a href="chitietsp/hp2" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/dell1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dell 13.3" XPS 13 9380 Multi-Touch Laptop</h5>
                            <p class="card-text">29.990.000đ</p>
                            <a href="chitietsp/dell9380" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div style='border-bottom:1px solid #ccc;'></div>
                </div>
            </div>
            <br />
            <h4 class="h2"> <i>Bảng xếp hạng thương hiệu LapTop 2019  </i> </h4>
            <br />
            <br />
            <div class="row h3">
                <table border="5" cellpadding="2" >
                    <tr align="center" bgcolor="Yellow">
                        <th><i>Xếp hạng </i>  </th>
                        <th><i> Thương hiệu</i> </th>
                        <th><i> Điểm đánh giá</i> </th>
                    </tr>
                    <tr>
                        <th>1   </th>
                        <th> HP </th>
                        <th> 86/100 </th>
                    </tr>
                    <tr>
                        <th>2   </th>
                        <th> Asus </th>
                        <th> 83/100 </th>
                    </tr>
                    <tr>
                        <th>3   </th>
                        <th> Dell </th>
                        <th> 81/100 </th>
                    </tr>
                    <tr>
                        <th>4   </th>
                        <th> Alienware </th>
                        <th> 80/100 </th>
                    </tr>
                    <tr>
                        <th>5  </th>
                        <th> Lenovo </th>
                        <th> 76/100 </th>
                    </tr>
                    <tr>
                        <th>6   </th>
                        <th> Razer </th>
                        <th> 75/100 </th>
                    </tr>
                </table>
            </div>
            <br />
            <br />
            <div class="row">
                <p>     </p>
            </div>
            <div class="col-sm-12">
                <div style='border-bottom:1px solid #ccc;'></div>
            </div>
        </div>
        <br />
        <br />
        <!-- Sticky Footer -->
        <% include elements/footer  %>
        <!-- Bootstrap core JavaScript-->
        <% include elements/script  %>
    </body>
</html>