<!DOCTYPE html>
<html lang="en">
    <head>
            <title>LapTop DELL 3567</title>
            <% include ../QLkhachhang/elements_1/header_1 %>
    </head>
    <body id="page-top">
            <% include ../QLkhachhang/elements_1/navbar_1  %>
        <div id="wrapper">
            <!-- Sidebar -->
            <%  include elements_4/sidebar_4 %>
        <div class="container">
        <h2> Laptop Dell Inspiron 3567 i3 7020U/4GB/1TB/Win10/(P63F002N67T) </h2>
        <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="./../img/dell3.jpg"  >
                </div>
				<div class="col-md-2">
                    <p> </p>
                </div>
                <div class="col-md-5">
                    <h6>Thông số kỹ thuật </h6>
					<p> CPU:	Intel Core i3 Kabylake, 7020U, 2.30 GHz  <br />
                        RAM:	4 GB, DDR4 (2 khe), 2133 MHz   <br />                      
                        Ổ cứng:	HDD: 1 TB  <br />                      
                        Màn hình:	15.6 inch, Full HD (1920 x 1080)  <br />                     
                        Card màn hình:	Card đồ họa tích hợp, Intel® HD Graphics 620  <br />
						Cổng kết nối:	2 x USB 3.0, HDMI, LAN (RJ45), USB 2.0  <br />
						Hệ điều hành:	Windows 10 Home SL <br />
						Thiết kế:	Vỏ nhựa, PIN rời  <br />
						Kích thước:	Dày 23.65 mm, 2.3 Kg <br />						
                    </p>
					<h3> Giá: 19.500.000đ  </h3>
                </div>
            </div>            
            <br />
            <div class="row">
                <p>     </p>
            </div>
        </div>
	 <!-- Sticky Footer -->
               
      <!-- Bootstrap core JavaScript-->
      <% include ../QLkhachhang/elements_1/script_1 %>
    </body>
</html>