<!DOCTYPE html>
<html lang="en">
    <head>
            <title>LapTop DELL 9380</title>
            <% include ../QLkhachhang/elements_1/header_1 %>
    </head>
    <body id="page-top">
            <% include ../QLkhachhang/elements_1/navbar_1  %>
        <div id="wrapper">
            <!-- Sidebar -->
            <%  include elements_4/sidebar_4 %>
        <div class="container">
        <h2> Dell 13.3" XPS 13 9380 Multi-Touch Laptop </h2>
        <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="./../img/dell1.jpg" width="600" height="500" >
                </div>
				<div class="col-md-3" >
                    <p> </p>
                </div>
                <div class="col-md-5">
					<br />
					<br />
                    <h6>Thông số kỹ thuật </h6>
					<p> 1.8 GHz Intel Core i7-8565U Quad-Core  <br />
                        13.3" 3840 x 2160 IPS Touchscreen   <br />                      
                        8GB LPDDR3 RAM | 256GB PCIe M.2 SSD  <br />                      
                        Integrated Intel UHD Graphics 620  <br />   				
                    </p>
					<h3> Giá: 29.990.000đ </h3>
                </div>
            </div>
            <br />
            
            <div class="row">
                <p>     </p>
            </div>
        </div>
	 <!-- Sticky Footer -->
               
      <!-- Bootstrap core JavaScript-->
      <% include ../QLkhachhang/elements_1/script_1 %>
    </body>
</html>