<!DOCTYPE html>
<html lang="en">
    <head>
            <title>LapTop DELL 3480</title>
            <% include ../QLkhachhang/elements_1/header_1 %>
    </head>
    <body id="page-top">
            <% include ../QLkhachhang/elements_1/navbar_1  %>
        <div id="wrapper">
            <!-- Sidebar -->
            <%  include elements_4/sidebar_4 %>
        <div class="container">
			<h2> Laptop Dell Vostro 3480 70183778 Black </h2>
			<br />
            <div class="row">
                <div class="col-md-5">
                    <img src="./../img/dell2.jpg"  >
                </div>
				<div class="col-md-2">
                    <p> </p>
                </div>
                <div class="col-md-5">
                    <h6>Thông số kỹ thuật </h6>
					<p> CPU:	CPU Intel® Core™ i5-8265U Processor (6M Cache, up to 3.90 GHz)  <br />
                        RAM:	RAM 4GB DDR4   <br />                      
                        Ổ cứng:	HDD 1TB  <br />                      
                        Màn hình:	Display 14.0Inch HD  <br />                     
                        VGA Intel HD Graphics  <br />
						Finger,WL+BT,McAfee MDS  <br />
						Hệ điều hành:	OS Windows 10 Home <br />		
						Color: Black	<br />					
                    </p>
					<h3> Giá: 13.990.000đ  </h3>
                </div>
            </div>
		</div>
		 <!-- Sticky Footer -->
               
      <!-- Bootstrap core JavaScript-->
      <% include ../QLkhachhang/elements_1/script_1 %>
    </body>
</html>