<!DOCTYPE html>
<html lang="en">
    <head>
            <title>HP 15-dw0008ca Touchscreen laptop</title>
            <% include ../QLkhachhang/elements_1/header_1 %>
    </head>
    <body id="page-top">
            <% include ../QLkhachhang/elements_1/navbar_1  %>
        <div id="wrapper">
            <!-- Sidebar -->
            <%  include elements_4/sidebar_4 %>
        <div class="container">
        <h2> HP 15-dw0008ca Touchscreen laptop(14"FHD/i5-8250U/8GB/1TB HDD/UHD 620/Win10/1.6kg) </h2>
        <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="./../img/hp2.jpg" width="600" height="500" >
                </div>
				<div class="col-md-3" >
                    <p> </p>
                </div>
                <div class="col-md-5">
					<br />
					<br />
                    <h6>Thông số kỹ thuật </h6>
					<p> Windows 10 Home 64 <br />
                        Intel® Core™ i5-8265U (1.6 GHz base frequency, up to 3.9 GHz with Intel® Turbo Boost Technology, 6 MB cache, 4 cores)   <br />                      
                        15.6" diagonal HD touch display  <br />                      
                        8 GB DDR4-2400 SDRAM (1 x 8 GB)  <br />   
						1 TB 5400 rpm SATA <br />
						Canada bilingual keyboard (supports English and French languages) <br />
                    </p>
					<h3> Giá: 21.790.000đ</h3>
                </div>
            </div>
            <br />
            
            <br />
            <div class="row">
                <p>     </p>
            </div>
        </div>



		 <!-- Sticky Footer -->
               
      <!-- Bootstrap core JavaScript-->
      <% include ../QLkhachhang/elements_1/script_1 %>
    </body>
</html>