<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Laptop MSI Prestige 15 </title>
            <% include ../QLkhachhang/elements_1/header_1 %>
    </head>
    <body id="page-top">
            <% include ../QLkhachhang/elements_1/navbar_1  %>
        <div id="wrapper">
            <!-- Sidebar -->
            <%  include elements_4/sidebar_4 %>
        <div class="container">
        <h2> Laptop MSI Prestige 15 10SC 004VN Geforce GTX 1650 MaxQ Intel Core i7 10710U 16GB 512GB 15.6″ FHD IPS Backlight Keyboard</h2>
        <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="./../img/msi2.jpg" width="600" height="500" >
                </div>
				<div class="col-md-3" >
                    <p> </p>
                </div>
                <div class="col-md-5">
					<br />
					<br />
                    <h6>Thông số kỹ thuật </h6>
					<p> CPU	            Intel Core i7 10710U <br />
                        Hệ điều hành	Windows 10 SL 64 Bit    <br />                      
                        RAM	            DDR4 16GB (2 x 8GB) 2666MHz, 2 slots, up to 32GB <br />   
						GPU	            Geforce GTX 1650 MaxQ <br />						
						Màn hình	    15.6" FullHD (1920×1080), IPS, 100% sRGB <br />
						Ổ cứng SSD	    512GB SSD NVMe M.2 PCIe Gen 3 x 4 <br />
						Lan	            Gigabit Lan <br />
						Wireless Lan	802.11 ac Wi-Fi + Bluetooth v4.2 <br />
						Trọng lượng	     1.6Kg  <br />
                    </p>
					<h3> Giá: 37.990.000đ</h3>
                </div>
            </div>
            <br />
            
            <div class="row">
                <p>     </p>
            </div>
        </div> 

		 <!-- Sticky Footer -->
               
      <!-- Bootstrap core JavaScript-->
      <% include ../QLkhachhang/elements_1/script_1 %>
    </body>
</html>